@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<NavigationListItemModel>>
@using Adcreo.Models;

@* Footer *@

<footer>
    <div class="footer-section">
        <div class="footer-column-1">
            <h3>ADCREO</h3>
            <div class="footer-detail-font">
                @RenderChildItems(Model)
            </div>
        </div>
        <div class="footer-column-2">
            <h3>Contact us:</h3>
            <div class="footer-detail-font">
                <span class="fa fa-phone">&nbsp;</span>
                <span class="footer-detail">07912 848831</span>
            </div>
        </div>
        <div class="footer-column-3">
            <h3>Follow us on social media:</h3>
            <div class="footer-detail-font">
                <a href="#"><span class="fa fa-facebook bullet"></span></a><span class="bullet"></span>
                <a href="#"><span class="fa fa-twitter bullet"></span></a><span class="bullet"></span>
                <a href="#"><span class="fa fa-linkedin bullet"></span></a><span class="bullet"></span>
                <a href="#"><span class="fa fa-github bullet"></span></a><span class="bullet"></span>
            </div>
        </div>
    </div>
</footer>
<div class="container-fluid p-0">
    <p class="footer-copyright">ADCREO &copy; @DateTime.Now.Year - All Rights Reserved</p>
</div>

@helper RenderChildItems(List<NavigationListItemModel> listItems)
{
if (listItems != null)

{
    foreach (var item in listItems)
    {
        var linkUrl = item.Link.Url;
        if (@item.Link.Text == "Services")
        {
            linkUrl = "#home";
        }
        <a href="@linkUrl" class="-slide-white-50 smoothScroll">@item.Link.Text</a><span class="bullet"></span>
    }
}
}